<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body style="background-color: rgb(218, 198, 236);">
    <h1 style="font-size: 36px; color: rgb(59, 18, 97); text-align: center;">User Information</h1>
    <form action="/submit" method="POST" style="margin: 0 auto; width: 500px; text-align: center;">
        <input type="text" name="name" placeholder="Name" required> <br><br>
        <input type="text" name="age" placeholder="Age" required> <br><br>
        <input type="email" name="email" placeholder="Email" required> <br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <input style="background-color: rgb(67, 9, 117); color: white;" type="submit" value="Submit">
    </form>
</body>
</html>
